<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useWatermark="false"
	galleryTitle="Addison Road June 2019"
	showPagingText="true"

>
  <image imageURL="images/AR012A.jpg"
	thumbURL="thumbs/AR012A.jpg"
	linkURL="images/AR012A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR012A.JPG">
    <title><![CDATA[AR012A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR012B.jpg"
	thumbURL="thumbs/AR012B.jpg"
	linkURL="images/AR012B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR012B.JPG">
    <title><![CDATA[AR012B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR013A.jpg"
	thumbURL="thumbs/AR013A.jpg"
	linkURL="images/AR013A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR013A.JPG">
    <title><![CDATA[AR013A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR013B.jpg"
	thumbURL="thumbs/AR013B.jpg"
	linkURL="images/AR013B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR013B.JPG">
    <title><![CDATA[AR013B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR014.jpg"
	thumbURL="thumbs/AR014.jpg"
	linkURL="images/AR014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR014.JPG">
    <title><![CDATA[AR014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR015.jpg"
	thumbURL="thumbs/AR015.jpg"
	linkURL="images/AR015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR015.JPG">
    <title><![CDATA[AR015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR016A.jpg"
	thumbURL="thumbs/AR016A.jpg"
	linkURL="images/AR016A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR016A.JPG">
    <title><![CDATA[AR016A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR016B.jpg"
	thumbURL="thumbs/AR016B.jpg"
	linkURL="images/AR016B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR016B.JPG">
    <title><![CDATA[AR016B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR017.jpg"
	thumbURL="thumbs/AR017.jpg"
	linkURL="images/AR017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR017.JPG">
    <title><![CDATA[AR017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR018A.jpg"
	thumbURL="thumbs/AR018A.jpg"
	linkURL="images/AR018A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR018A.JPG">
    <title><![CDATA[AR018A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR018B.jpg"
	thumbURL="thumbs/AR018B.jpg"
	linkURL="images/AR018B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR018B.JPG">
    <title><![CDATA[AR018B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR020A.jpg"
	thumbURL="thumbs/AR020A.jpg"
	linkURL="images/AR020A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR020A.JPG">
    <title><![CDATA[AR020A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR020B.jpg"
	thumbURL="thumbs/AR020B.jpg"
	linkURL="images/AR020B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR020B.JPG">
    <title><![CDATA[AR020B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR021.jpg"
	thumbURL="thumbs/AR021.jpg"
	linkURL="images/AR021.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR021.JPG">
    <title><![CDATA[AR021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR022.jpg"
	thumbURL="thumbs/AR022.jpg"
	linkURL="images/AR022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR022.JPG">
    <title><![CDATA[AR022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR024.jpg"
	thumbURL="thumbs/AR024.jpg"
	linkURL="images/AR024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR024.JPG">
    <title><![CDATA[AR024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR025.jpg"
	thumbURL="thumbs/AR025.jpg"
	linkURL="images/AR025.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR025.JPG">
    <title><![CDATA[AR025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR026A.jpg"
	thumbURL="thumbs/AR026A.jpg"
	linkURL="images/AR026A.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR026A.JPG">
    <title><![CDATA[AR026A]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR026B.jpg"
	thumbURL="thumbs/AR026B.jpg"
	linkURL="images/AR026B.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR026B.JPG">
    <title><![CDATA[AR026B]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR027.jpg"
	thumbURL="thumbs/AR027.jpg"
	linkURL="images/AR027.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR027.JPG">
    <title><![CDATA[AR027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR028.jpg"
	thumbURL="thumbs/AR028.jpg"
	linkURL="images/AR028.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR028.JPG">
    <title><![CDATA[AR028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR029.jpg"
	thumbURL="thumbs/AR029.jpg"
	linkURL="images/AR029.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR029.JPG">
    <title><![CDATA[AR029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR030.jpg"
	thumbURL="thumbs/AR030.jpg"
	linkURL="images/AR030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR030.JPG">
    <title><![CDATA[AR030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR031.jpg"
	thumbURL="thumbs/AR031.jpg"
	linkURL="images/AR031.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR031.JPG">
    <title><![CDATA[AR031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR032.jpg"
	thumbURL="thumbs/AR032.jpg"
	linkURL="images/AR032.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR032.JPG">
    <title><![CDATA[AR032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR033.jpg"
	thumbURL="thumbs/AR033.jpg"
	linkURL="images/AR033.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR033.JPG">
    <title><![CDATA[AR033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR034.jpg"
	thumbURL="thumbs/AR034.jpg"
	linkURL="images/AR034.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR034.JPG">
    <title><![CDATA[AR034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AR035.jpg"
	thumbURL="thumbs/AR035.jpg"
	linkURL="images/AR035.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@allotment2017\@@@Whinfield@@@\PlotInspections\June2019\AddisonRd\reduced\AR035.JPG">
    <title><![CDATA[AR035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>